<html>

<head>
    <title>{% block title %}Title{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        ul.nav li.dropdown:hover > ul.dropdown-menu {
            display: block;
        }
    </style>
    {% block list_style %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">TZPin</a>
      </div>
{#        <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'search' %}">#}
{#            <div class="form-group">#}
{#                <input type="text" class="form-control" name="key_words" placeholder="Search">#}
{#            </div>#}
{#            <button type="submit" class="btn btn-default">Submit</button>#}
{#        </form>#}
        <ul class="nav navbar-nav navbar-right">
            {% if not user.pk %}
              <li>
                  <div class="btn-group" style="padding:8px 20px;">
                    <a href="{% url 'pin.views.reg' %}" class="btn btn-default" role="button">Sign Up</a>
                    <a href="{% url 'pin.views.login' %}" class="btn btn-default" role="button">Sign In</a>
                  </div>
              </li>
            {% else %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>  {{ user.username }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#board" data-toggle="modal">Create a Board</a></li>
                  <li><a href="#pin" data-toggle="modal">Pin</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url 'logout' %}">Log out</a></li>
                </ul>
              </li>
            </ul>
        {% endif %}
    </nav>

    <div class="container" style="padding: 70px 20px;">
        {% if debug %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Debug:</strong>
                {% for x in debug %}
                    <p>{{ x }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if message %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>{{ message }}</p>
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>{{ error }}</p>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
        <hr>
        <header>
            <p>This website is made by Tianqi Tong. Dec 2013.</p>
        </header>
    </div>

    <div class="modal fade" id="pin" tabindex="-1" role="dialog" aria-labelledby="pinLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="pinLabel">New Pin.</h4>
          </div>
          <div class="modal-body">
            <iframe src="{% url 'create_pin' %}"width="100%" height="400" frameborder="0"></iframe>
          </div>
          <div class="modal-footer">
            <a href="{% url 'home' %}"><button type="button" class="btn btn-primary">Save changes</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="board" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create a new board.</h4>
          </div>
          <div class="modal-body">
            <form action="{% url 'create_board' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter names here. Example:'Parrot'" name="board_name">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Create</button>
                </span>
            </div>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

{% block js %}
{% endblock %}
</body>

</html>