{% extends "base.html" %}
{% load friendfilter %}

{% block title %}
    Home
{% endblock %}

{% block list_style %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <!-- Global CSS for the page and tiles -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorbox.css' %}">
    <!-- Specific CSS for the example -->
    <style>
    /**
     * Grid items
     */
    #tiles li {
      -webkit-transition: all 0.3s ease-out;
         -moz-transition: all 0.3s ease-out;
           -o-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
    }

    /**
     * Sort buttons
     */
    #sortbys {
      list-style-type: none;
      text-align: center;
      margin: 0 5% 0 5%;
    }

    #sortbys li {
      font-size: 12px;
      float: left;
      padding: 6px 0 4px 0;
      cursor: pointer;
      margin: 0 1% 0 1%;
      width: 8%;
      -webkit-transition: all 0.15s ease-out;
         -moz-transition: all 0.15s ease-out;
           -o-transition: all 0.15s ease-out;
              transition: all 0.15s ease-out;
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;
    }

    #sortbys li:hover {
      background: #dedede;
    }

    #sortbys li.active {
      background: #333333;
      color: #ffffff;
    }
    </style>
{% endblock %}
{% block content %}
    <header>
      <h1>{{ theboard.name  }}</h1>
      <p>{{ user.username }}  {{ request.path }}</p>
    </header>
    <br/>
    <div>
        <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'profile' theboard.user.id %}">{{ theboard.user.username }}</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-3">
          <form action="{% url 'follow' theboard.id %}" method="post">{% csrf_token %}
          <input name="back_url" value="{{ request.path }}" type="hidden">
          <button type="submit" class="btn {% if followed > 0 %}btn-primary{% else %}btn-success{% endif %} navbar-btn">{% if followed > 0 %}Unfollow{% else %}Follow{% endif %}</button>
          </form>
        </div>
      </nav>
    </div>
    <ol id="sortbys">
      <li data-sortby="name" class="active">Name</li>
      <li data-sortby="time">Time</li>
    </ol>
    <br/>
    <div id="main" role="main">
      <ul id="tiles">
          {% for pin in pins %}
              <li data-time="{{ pin.create_time }}" data-name="{{ pin.name }}">
              <a href="{{ pin.pic.url }}" rel="lightbox">
              <img src="{{ pin.pic.url }}" height="{{ pin.pic.final_height }}" width="190">
              </a>
              <p>by <a href="{% url 'profile' pin.board.user.id %}"> {{ pin.board.user }}</a>
              from <a href="{% url 'board' pin.board.id %}">{{ pin.board.name }}</a></p>
              {% for key, value in likes.items %}
                      {% if key == pin.id %}
                        <p>Liked by {{ value }} people. <a href="{% url 'like' pin.id %}"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp</a>
                        <a data-toggle="modal" class="open-repindialog btn btn-primary btn-xs" data-id="{{ pin.id }}" title="repin this item" href="#repindialog">
                            <span class="glyphicon glyphicon-pushpin"></span>&nbsp</a>
                        {% if user.id == pin.board.user.id %}
                            <a data-toggle="modal" class="open-delete btn btn-primary btn-xs" data-id="{{ pin.id }}" title="delete this pin" href="#delete">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp</a>
                        {% endif %}
                        </p>
                      {% endif %}
              {% endfor %}
              {% for key, value in pin_comments.items %}
                  {% if key == pin.id %}
                    {% for comment in value %}
                        <p><a href="{% url 'profile' comment.user.id %}">{{ comment.user }}</a>: {{ comment.content }}</p>
                    {% endfor %}
                  {% endif %}
              {% endfor %}
                {% if user.id == pin.board.user.id %}
                  <div class="row">
                <div class="col-lg-12">
                <form action="{% url 'comment' %}" method="post">{% csrf_token %}
                <div class="input-group">
                  <input type="text" name="comment" class="form-control" placeholder="it's your pin, so you can comment!">
                  <input type="hidden" name="pin_id" value="{{ pin.id }}" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-send"></span>&nbsp</button>
                  </span>
                </div>
                </form>
                </div>
                </div>
              {% else %}
              {% if pin.board.user.profile.unfrd_comment == True %}
                <div class="row">
                <div class="col-lg-12">
                <form action="{% url 'comment' %}" method="post">{% csrf_token %}
                <div class="input-group">
                  <input type="text" name="comment" class="form-control" placeholder="everybody can comment!">
                  <input type="hidden" name="pin_id" value="{{ pin.id }}" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-send"></span>&nbsp</button>
                  </span>
                </div>
                </form>
                </div>
                </div>
              {% else %}
                {% if pin.board.user.ing|is_friend:user != null  %}
                {% for a in pin.board.user.ing|is_friend:user %}
                {% for b in user.ed|friend_by:pin.board.user %}
                {% if a == b %}
                    <div class="row">
                    <div class="col-lg-12">
                    <form action="{% url 'comment' %}" method="post">{% csrf_token %}
                    <div class="input-group">
                      <input type="text" name="comment" class="form-control" placeholder="you are a friend, so you can comment!">
                      <input type="hidden" name="pin_id" value="{{ pin.id }}" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-send"></span>&nbsp</button>
                      </span>
                    </div>
                    </form>
                    </div>
                    </div>
                {% endif %}
                {% endfor %}
                {% endfor %}
              {% endif %}
              {% endif %}
              {% endif %}
              </li>
          {% endfor %}
      </ul>
    </div>

    <div class="modal fade" id="repindialog" tabindex="-1" role="dialog" aria-labelledby="pinLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="pinLabel">Repin!</h4>
          </div>
            <div class="modal-body">
                <iframe id="ttcf" src="/" width="100%" height="400" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
            <a href="{% url 'home' %}"><button type="button" class="btn btn-primary">Save changes</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="pinLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="pinLabel">delete pin !</h4>
          </div>
            <div class="modal-body">
            <p>are you sure you want to delete ? This is a db project, there is no way to recovery data. </p>
            </div>
            <div class="modal-footer">
            <a href="" id="deletehref"><button type="button" class="btn btn-danger">Sure, Delete it!</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
{% endblock %}


{% block js %}
  <!-- Include the imagesLoaded plug-in -->
  <script src="{% static 'js/jquery.imagesloaded.js' %}"></script>
  <script src="{% static 'js/jquery.colorbox-min.js' %}"></script>
  <!-- Include the plug-in -->
  <script src="{% static 'js/jquery.wookmark.js' %}"></script>

  <!-- Once the page is loaded, initalize the plug-in. -->
    <script type="text/javascript">
    (function ($){
      $('#tiles').imagesLoaded(function() {
        function comparatorName(a, b) {
          return $(a).data('name') < $(b).data('name') ? -1 : 1;
        }
        function comparatortime(a, b) {
          return $(a).data('time') > $(b).data('time') ? -1 : 1;
        }
        // Prepare layout options.
        var options = {
          itemWidth: 278, // Optional min width of a grid item
          //autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $('#tiles'),
          offset: 5, // Optional, the distance between grid items
          outerOffset: 20, // Optional the distance from grid to parent
          flexibleWidth: 300 // Optional, the maximum width of a grid item
        };

        // Get a reference to your grid items.
        var $handler = $('#tiles li'),
            $sortbys = $('#sortbys li');

        // Call the layout function.
        $handler.wookmark(options);

        /**
         * When a filter is clicked, toggle it's active state and refresh.
         */
        var onClickSortBy = function(e) {
          e.preventDefault();
          $currentSortby = $(this);
          switch ($currentSortby.data('sortby')) {
            case 'time':
              options.comparator = comparatortime;
              break;
            case 'name':
            default:
              options.comparator = comparatorName;
              break;
          }

          $sortbys.removeClass('active');
          $currentSortby.addClass('active');

          $handler.wookmark(options);
        }

        // Capture filter click events.
        $sortbys.click(onClickSortBy);
      });
    })(jQuery);
    </script>
    <script type="text/javascript">
        (function ($){
          $('#tiles').imagesLoaded(function() {
            // Prepare layout options.
            var options = {
              itemWidth: 278, // Optional min width of a grid item
              //autoResize: true, // This will auto-update the layout when the browser window is resized.
              container: $('#tiles'),
              offset: 5, // Optional, the distance between grid items
              outerOffset: 20, // Optional the distance from grid to parent
              flexibleWidth: 300 // Optional, the width of a grid item
            };

            // Get a reference to your grid items.
            var handler = $('#tiles li');

            // Call the layout function.
            handler.wookmark(options);

            // Init lightbox‘
            $("a[href$='.jpg'], a[href$='.gif'], a[href$='.png']", handler).colorbox({
                 rel: 'lightbox'
             });
          });
        })(jQuery);
      </script>
      <script type="text/javascript">
            $(document).on("click", ".open-repindialog", function () {
             var PinId = $(this).data('id');
             var Pin_src = "{{ BASE_URL }}" + "/pin/repin_pin/" + PinId;
             $(".modal-body #ttcf").attr("src", Pin_src);
        });
      </script>
      <script type="text/javascript">
            $(document).on("click", ".open-delete", function () {
             var PinId = $(this).data('id');
             var del_href = "{{ BASE_URL }}" + "/pin/delete_pin/" + PinId;
             $(".modal-footer #deletehref").attr("href", del_href);
        });
      </script>
{% endblock %}