<html>

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">
<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'create_pin2' %}">Upload-Pin</a></li>
  <li><a href="{% url 'create_pin' %}">Url-Pin</a></li>
</ul>
    <form enctype="multipart/form-data" method="post" action="{% url 'create_pin2' %}">{% csrf_token %}
        <p><label for="name">name:</label>
        <input id="name" type="text" name="name" /></p>
        <p><label for="img">image:</label>
        <input type="file" name="picture" id="img"></p>
        <p>
            <label for="board">board:</label>
            <select id="board" name="board_id">
                {% for board in boards %}
                    <option value="{{ board.id }}">{{ board }}</option>
                {% endfor %}
            </select>
        </p>
        <p><label>Tags</label>
        <input type="text" name="tags" placeholder="use ',' to add more tags"></p>
        <ul><input type="submit" value="upload"></ul>
    </form>
</div>
</body>
</html>