{% extends "base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <h1>Profile</h1>
    {% if profile_user %}
        <h1>user:</h1>
        <p>{{ profile_user.username }}</p>
    {%  endif %}
    <div class="row">
        <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">User Settings</h3>
          </div>
          <div class="panel-body">
                {% if user != profile_user %}
                <p><img data-src="holder.js/140x140" class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="{{ detail.avatar.url }}"></p>
                <p>unfriend_comment: {{ detail.unfrd_comment }}</p>
                <p>{{ frd }}</p>
                {% if frd == '0' %}
                <form action="{% url 'friend' profile_user.id %}" method="post">{% csrf_token %}
                <input name="back_url" value="{{ request.path }}" type="hidden">
                    <button type="submit" class="btn btn-default">Friend Him</button>
                </form>
                {% else %}
                <form action="{% url 'unfriend' profile_user.id %}" method="post">{% csrf_token %}
                <input name="back_url" value="{{ request.path }}" type="hidden">
                    {% if frd == '2' %}
                    <button type="button" class="btn btn-default" disabled="disabled">Request Sent</button>
                    {% elif frd == '1' %}
                    <button type="submit" class="btn btn-default">Unfriend</button>
                    {% endif %}
                </form>
                {% endif %}
                {% else %}
                    <p><img data-src="holder.js/140x140" class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="{{ detail.avatar.url }}"></p>
                    <form enctype="multipart/form-data" action="{% url 'change_profile'%}" method="post">{% csrf_token %}
                        <input type="file" name="avatar">
                        <select id="uc" name="uc">
                            {% if detail.unfrd_comment == True %}
                                <option value="True" >on</option>
                                <option value="False" >off</option>
                            {% else %}
                                <option value="True" >on</option>
                                <option selected="selected" value="0" >off</option>
                            {% endif %}
                        </select>
                        <input name="back_url" value="{{ request.path }}" type="hidden">
                        <input type="submit" value="update">
                    </form>
                {% endif %}
          </div>
        </div>
        </div>
        <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ profile_user.username }}'s Boards</h3>
          </div>
          <div class="panel-body">
                {% for board in p_boards %}
                    <a href="{% url 'board' board.id %}"><p>{{ board }}</p></a>
                {% endfor %}
          </div>
        </div>
        </div>
    </div>
{% endblock %}