<form action="{% url 'repin' pin_id %}" method="post">
    {% csrf_token %}
    <input type="text" name="name">
    <select id="board" name="board_id">
        {% for board in boards %}
            <option value="{{ board.id }}">{{ board }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="repin" />
</form>