<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//bootswatch.com/flatly/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>
<body>
        {% if debug %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Debug:</strong>
                {% for x in debug %}
                    <p>{{ x }}</p>
                {% endfor %}
            </div>
        {% endif %}
    <h1>{{ message }}</h1>

</body>
</html>